* {
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif
}

/* Perfil */

.Perfil {
  position:relative;
  text-align:center;
  color:white;
}

h1 {
  position:absolute;
  top:22px;
  margin-inline-start: 370px;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:bold;
  font-size:64px;
}

.rectangle-profile {
  position:absolute;
  top:230px;
  left: 42px;
}

h2 {
  position:absolute;
  font-size:36px;
  bottom:200px;
  left: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-weight:bold;
  text-align: justify;
}

/* Sobre mi */
.Sobre-mi {
  position:relative;
  text-align:center;
  color:white;
}

.title-sobre-mi {
  position:absolute;
  top:50px;
  left:400px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:40px;
}

.text-sobre-mi {
  position:absolute;
  top:120px;
  left:50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height: 24px;
  text-align:justify;
  max-width:900px;
}

.button-cv {
  position:absolute;
  top:300px;
  left:30px;
}

.ver-cv {
  position:absolute;
  top:315px;
  left:77px;
  font-size:28px;
}

